@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #242736;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.bgCartaComp{
  background-image: url('../assets/cartaBG.webp');
  background-size: auto 100%;
  background-position: right;
  background-repeat: no-repeat;
}


.bgCoach{
  background-image: url('../assets/fundo1.webp');
  background-position: center;
  background-size: cover;
}

.bgDicas{
  background-image: url('../assets/bgDicas.webp');
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 768px) {
  .bgCartaComp{
    background-position: center;
  }
}